.DS_Store
.claude/settings.json
*.png
*.jpeg

**/__pycache__/
MICCAI 2025 code for MBZUAI group.ipynb
/runs/
.env
/wandb
/Datasets/DR/train.zip.download
Datasets/DR/train.zip
/Datasets/DR/train_cache/
.claude/settings.local.json
